resources:
- name: aemain-v1-network-{{ properties["stamp"] }}
  type: network.jinja
  properties:
    stamp: {{ properties["stamp"] }}
- name: aemain-v1-subnet-{{ properties["stamp"] }}
  type: subnet.jinja
  properties:
    stamp: {{ properties["stamp"] }}
    ipcidr: {{ properties["ipcidr"] }}
    region: {{ properties["region"] }}
- name: aemain-firewall-{{ properties["stamp"] }}
  type: aemain-firewall.jinja
  properties:
    stamp: {{ properties["stamp"] }}
    ipcidr: {{ properties["ipcidr"] }}
- name: aemain-ipaddresses-{{ properties["stamp"] }}
  type: ipaddresses.jinja
  properties:
    stamp: {{ properties["stamp"] }}
    iptri: {{ properties["iptri"] }}
    region: {{ properties["region"] }}
- name: aemain-{{ properties["dnsext"] }}-dnsmnged-zone
  type: dns_managed_zone.py
  properties:
    dnsName: aedemo-{{ properties["dnsext"] }}.net.
    description: 'Domain to resolve internal and external addresses for aemain'
    visibility: private
    privateVisibilityConfig:
      kind: dns#managedZonePrivateVisibilityConfig
      networks:
      - kind: dns#managedZonePrivateVisibilityConfigNetwork
        networkUrl: "https://www.googleapis.com/compute/v1/projects/{{env['project']}}/global/networks/aemain-v1-network-{{ properties["stamp"] }}"
      metadata:
        dependsOn:
        - $(ref.aemain-v1-network-{{ properties["stamp"] }}.selfLink)
- name: aemain-dns-recordsset-{{ properties["stamp"] }}
  type: aemain-dns-records.jinja
  properties:
    dnsext: {{ properties["dnsext"] }}
    stamp: {{ properties["stamp"] }}
