resources:
- name: test-dns-records
  type: dns_records.py
  properties:
    zoneName: aemain-{{ properties["dnsext"] }}-dnsmnged-zone
    dnsName: aedemo-{{ properties["dnsext"] }}.net.
    resourceRecordSets:
      - name: aecdd1-v1.internal.aedemo-{{ properties["dnsext"] }}.net.
        type: A
        ttl: 20
        rrdatas:
          - $(ref.aecdd1-v1-int-ip-{{ properties["stamp"] }}.address)
      - name: aecdd2-v1.internal.aedemo-{{ properties["dnsext"] }}.net.
        type: A
        ttl: 20
        rrdatas:
          - $(ref.aecdd2-v1-int-ip-{{ properties["stamp"] }}.address)
      - name: aemain-v1.internal.aedemo-{{ properties["dnsext"] }}.net.
        type: A
        ttl: 20
        rrdatas:
          - $(ref.aemain-v1-int-ip-{{ properties["stamp"] }}.address)
      - name: aejenkins-v1.internal.aedemo-{{ properties["dnsext"] }}.net.
        type: A
        ttl: 20
        rrdatas:
          - $(ref.aejenkins-v1-int-ip-{{ properties["stamp"] }}.address)
      - name: aecdd1-v1.external.aedemo-{{ properties["dnsext"] }}.net.
        type: A
        ttl: 20
        rrdatas:
          - $(ref.aecdd1-v1-ext-ip-{{ properties["stamp"] }}.address)
      - name: aecdd2-v1.external.aedemo-{{ properties["dnsext"] }}.net.
        type: A
        ttl: 20
        rrdatas:
          - $(ref.aecdd2-v1-ext-ip-{{ properties["stamp"] }}.address)
      - name: aemain-v1.external.aedemo-{{ properties["dnsext"] }}.net.
        type: A
        ttl: 20
        rrdatas:
          - $(ref.aemain-v1-ext-ip-{{ properties["stamp"] }}.address)
      - name: aejenkins-v1.external.aedemo-{{ properties["dnsext"] }}.net.
        type: A
        ttl: 20
        rrdatas:
          - $(ref.aejenkins-v1-ext-ip-{{ properties["stamp"] }}.address)
