resources:
- name: aemain-network-deployment-{{ properties["stamp"] }}
  type: aemain-v1-netsetup.jinja
  properties:
    stamp: {{ properties["stamp"] }}
    region: {{ properties["region"] }}
    ipcidr: {{ properties["ipcidr"] }}
    iptri: {{ properties["iptri"] }}
    myip: {{ properties["myip"] }}
    dnsext: {{ properties["dnsext"] }}
- name: aemain-vm-deployment-{{ properties["stamp"] }}
  type: aemain-v1-vmsetup.jinja
  properties:
    stamp: {{ properties["stamp"] }}
    zone: {{ properties["zone"] }}
    diskv: v4
