resources:
- name: aemain-v1-network-{{ properties["stamp"] }}
  type: network.jinja
  properties:
    stamp: {{ properties["stamp"] }}
- name: aemain-v1-subnet-{{ properties["stamp"] }}
  type: subnet.jinja
  properties:
    stamp: {{ properties["stamp"] }}
    ipcidr: {{ properties["ipcidr"] }}
    region: {{ properties["region"] }}
- name: aemain-firewall-{{ properties["stamp"] }}
  type: aemain-firewall.jinja
  properties:
    stamp: {{ properties["stamp"] }}
    ipcidr: {{ properties["ipcidr"] }}
- name: aemain-ipaddresses-{{ properties["stamp"] }}
  type: ipaddresses.jinja
  properties:
    stamp: {{ properties["stamp"] }}
    iptri: {{ properties["iptri"] }}
    region: us-east1
- name: aemain-{{ properties["dnsext"] }}-zone
  type: dns_managed_zone.py
  properties:
    zoneName: aemain-{{ properties["dnsext"] }}-zone
    dnsName: aemain-{{ properties["dnsext"] }}.net.
    description: 'Domain to resolve internal and external addresses for aemain'
- name: aemain-dns-recordsset-{{ properties["stamp"] }}
  type: aemain-dns-records.jinja
  properties:
    dnsext: {{ properties["dnsext"] }}
    stamp: {{ properties["stamp"] }}
