resources:
- name: allmyips
  type: ip_reservation.py
  properties:
    ipAddresses:
      - name: aecdd1-v1-int-ip-{{ properties["stamp"] }}
        ipType: INTERNAL
        region:  {{ properties["region"] }}
        address: {{ properties["iptri"] }}.3
        description: 'Internal IP for aecdd1-v1-vm-{{ properties["stamp"] }} machine'
        subnetwork: $(ref.aemain-v1-subnet-{{ properties["stamp"] }}.selfLink)
      - name: aecdd2-v1-int-ip-{{ properties["stamp"] }}
        ipType: INTERNAL
        region:  {{ properties["region"] }}
        address: {{ properties["iptri"] }}.4
        description: 'Internal IP for aecdd2 machine'
        subnetwork: $(ref.aemain-v1-subnet-{{ properties["stamp"] }}.selfLink)
      - name: aejenkins-v1-int-ip-{{ properties["stamp"] }}
        ipType: INTERNAL
        region:  {{ properties["region"] }}
        address: {{ properties["iptri"] }}.5
        description: 'Internal IP for aejenkins-v1-vm-{{ properties["stamp"] }} machine'
        subnetwork: $(ref.aemain-v1-subnet-{{ properties["stamp"] }}.selfLink)
      - name: aemain-v1-int-ip-{{ properties["stamp"] }}
        ipType: INTERNAL
        region:  {{ properties["region"] }}
        address: {{ properties["iptri"] }}.2
        description: 'Internal IP for aemain-v1-vm-{{ properties["stamp"] }} machine'
        subnetwork: $(ref.aemain-v1-subnet-{{ properties["stamp"] }}.selfLink)
      - name: aemain-v1-ext-ip-{{ properties["stamp"] }}
        ipType: REGIONAL
        region:  {{ properties["region"] }}
        description: 'External IP for aemain-v1-vm-{{ properties["stamp"] }} machine'
        networkTier: PREMIUM
      - name: aecdd1-v1-ext-ip-{{ properties["stamp"] }}
        ipType: REGIONAL
        region:  {{ properties["region"] }}
        description: 'External IP for aecdd1-v1-vm-{{ properties["stamp"] }} machine'
        networkTier: PREMIUM
      - name: aecdd2-v1-ext-ip-{{ properties["stamp"] }}
        ipType: REGIONAL
        region:  {{ properties["region"] }}
        description: 'External IP for aecdd2 machine'
        networkTier: PREMIUM
      - name: aejenkins-v1-ext-ip-{{ properties["stamp"] }}
        ipType: REGIONAL
        region:  {{ properties["region"] }}
        description: 'External IP for aejenkins-v1-vm-{{ properties["stamp"] }} machine'
        networkTier: PREMIUM
